.main_hr {
  position: absolute;
  height: 0px;
  left: 70px;
  right: 70px;
  top: 89px;
  border: 1px solid #1a1a1a;
}

.App {
  width: 166.7%;
  min-height: 100vh;
  background: url(/background.jpg);
  background-size: cover;
  background-clip: content-box;
  background-position: center;
}

.redberry_logo {
  position: absolute;
  width: 236px;
  height: 38px;
  left: 70px;
  top: 25px;
}

.button_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.add_resume_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  left: 120px;
  height: 60px;
  width: 464px;
  border-radius: 8px;
  padding: 18px 60px 18px 60px;
  background-color: #1a1a1a;
  color: whitesmoke;
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
}

.add_resume_btn:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 4px black;
}

.background_logo {
  position: relative;
  top: 80px;
  width: 299px;
  height: 299px;
  left: 20px;
  z-index: -1;
  opacity: 0.5;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
