/* .app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.routes {
  width: 50%;
  border: 1px solid black;
  height: 100%;
}

.general_information img {
  margin-right: 550px;
} */
